/*border color: #bdc3c7
date color: #3498db
h2color #2c3e50

font: source sans pro*/

body {
	border: 20px solid #bdc3c7;
	font-family: source sans pro;
	margin: 20px auto;
	padding: 20px;
	max-width: 700px;
	width: 80%;
}

.date {
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

h1 {
	color: #2f4f82;
}


hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.quote {
	border-left: 5px solid #bdc3c7
	/*padding-left: 5px;*/
}

p {
	/*margin-left: 10px;*/
	padding-left: 5px;
}

.post {
	margin-bottom: 20px;
}
